*{
    font-family:futura;
}
/*********************
GENERAL STYLES START
**********************/
.left{
    float: left;
    width: 50%;
    height: 1050px;
    background-color: rgba(0, 0, 0, .2);
    margin: 140px 40px 0 0;
    padding: 0 15px;
}
.right{
    float: left;
    width: 30%;
    height: 1050px;
    background-color: rgba(0, 0, 0, .2);
    margin-top: 70px;
    padding: 0 15px;
}
/*********************
LOGO NAV STYLES START
**********************/
#logo > div{
    margin:50px 0 0;
    float:left;
} 
span{
    font-size:30px;
    padding: 40px 25px;
    border:3px solid black;
    border-radius:100%;
}
span:hover{
    color:gray;
    border:3px solid gray;
    transition: 0.3s ease;
}
nav{
    display:block;
    width:50%;
    float:right;
    margin:33px 0 0;
}
ul{
    display:inline-block;
/*     width:80%; */
    
}
li{
    display:inline-block;
    margin:10px;
    folat:right;
}
/*********************
BUTTON STYLES START
**********************/
.btn{
    background:black;
    border-radius:5px;
    padding: 5px 25px;
    color:white;
    transition: background-color 0.3s ease;
}
.b2n1:hover{
    background:orange;
}
.b2n2:hover{
    background:blue;
}
.b2n3:hover{
    background:green;
}
.b2n4:hover{
    background:brown;
}
.logo1{
    color:orange;
    border:3px solid orange;
}
.logo2{
    color:blue;
    border:3px solid blue;
}
.logo3{
    color:green;
    border:3px solid green;
}
.logo4{
    color:brown;
    border:3px solid brown;
}
.logohome{
    color:black;
    border:3px solid black;
}




















