/* @todo animate the transition of showing & hiding .toggleClass stuffs*/
/******************************
		HEADER STYLES
/*******************************/
header {
	font-size: 4.5em;
	color: #80c6ca;
	font-family: 'Pacifico', cursive;
	max-height: 113px;
	padding-left: 25px;
	text-align: left;
	background: #1b898f;
}
.logo {
	border: none;
	width: 10%;
	height: 10%;

}
/******************************
		GENERAL STYLES
/*******************************/
body {
	font-family: 'Work Sans', sans-serif;
	font-size: 62.5%;
	background: #e5e5e5 url(../css_images/file.jpg) no-repeat top fixed;
	background-size: cover;
	text-align: center;
	margin: 0; 
}
.container{
	display: block;
	width: 100%%;
	margin: 5% 0 5% 5%;
}
ul {

}
ul li, ol li {
	list-style: none;
	text-align: center;
}
/******************************
		TEXT STYLES
/*******************************/
h1, h2, h3, h4, h5, h6{
	color: #515353;
	letter-spacing: .1em;
}
h1{
	font-size: 3em;
}
h2{
	font-size: 2.5em;
	margin: 0px;
}
h3 {
	font-size: 2em;
}
h4{

}
h5{
	font-size: 1.9em;
	margin: 0px;
}
h6{
	font-size: 7em;
	margin: 0px;
}
p{
	color: 515353;
	font-size: 14px;
	margin-bottom: 30px;
}
.kerning{
	padding: 0 15px;
}
.second-square > h6{
	padding-top: 5%
} 
.second-square, .kerning{
	text-align: center;
}
/******************************
		FORM STYLES
/*******************************/
.half-width {
	width:70%;
	float: right;
	display: inline-block;
	border: none;
	margin: 40px 20% 0;
	text-align: right;
}
.formdiv {
		margin: 20px 0;

}
fieldset {

}
label, span {
	color: #515353;
    margin-bottom: 10px;
    font-weight: 600;
    float: left;
    font-size: 14px;
}
input{
	border: 3px solid #e0e0e0;
    width: 120%;
    height: 50px;
    font-size: 14px;
    text-align: left;
    color: #9da2a4;
    margin-bottom: 30px;
}
input:active{
	border-color: #515353;
	transition: 0.3s ease;
}
span{
	margin-left: 10px;
	color: #80c6ca;
}
.first-square{
	width: 100%;
	background-color:#008080;
	height: 750px;
}
.second-square{
	width: 85%;
	background-color:#f5f5dc;
	height: 450px;
	margin: 7%;
}
.form-container{
	min-height: 435px;
    width: 80%;
    border: 0px solid #cec8ca;
    background: #fff;
    margin: 0 10% 10%;
    border-radius: 10px;
    height: 435px;
}
/******************************
		BUTTON STYLES
/*******************************/
button{
	text-align: center;
	width: 210px;
    height: 40px;
    border-radius: 20px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    font-size: 14px;
    border: 3px solid #1b898f;
    color: #1b898f;
    background: white;
    transition: 0.3s ease;
}
button:hover{
	border-color: #e0e0e0;
	color: #e0e0e0;

}
.btn-option{
	margin: 0 15%;
}
/******************************
		FLASH CARD STYLES
/*******************************/
.card-container{}
.card-container p{
	text-align: center;
    padding: 40px 20px 0;
    /*vertical-align: 50%;*/
}
/*#show{
	-webkit-transition-timeing-function:ease;
	transition-timing-function: ease;
	min-height: 0px;
	max-height: auto;
	transition: height 3s;
}*/
.show-answer{
	text-align: center;
	margin: 20px 0px;
}
<<<<<<< Updated upstream
.options, .card-definition, .step2, .step3, .play{
	display: block;
	-webkit-transition-timeing-function:ease;
	transition-timing-function: ease;
	min-height: 0px;
	max-height: auto;
	transition: height 3s;
}
.show{
	display: none;
}
=======
/*.card-definition, .step2.show, .step3.show, .play.show{
	display: none;
}
.card-definition.show, .step2, .step3, .play{
	display: block;
}*/
>>>>>>> Stashed changes
/******************************
		FOOTER STYLES
/*******************************/
footer {
	width: 100%;
	margin-top: 5%;
	background: #003329;
	color: #fff;
	font-size: 1.1em;
}
.thirds {
	width: 33%;
	display: inline-block;
}
.clear {
	clear: both;
}
footer > ul {

}
footer > ul li {
	list-style: none;
	text-align: center;
}
